appdirs==1.4.4
asgiref==3.5.2
certifi==2020.6.20
chardet==3.0.4
Django==3.2.18
django-cleanup==5.1.0
django-migration-linter==3.0.0
django-recaptcha==2.0.6
django-rosetta==0.9.5
flake8==3.9.2
idna==2.10
importlib-metadata==4.6.1
mccabe==0.6.1
numpy==1.21.0
opencv-python==4.4.0.44
Pillow==9.0.1
polib==1.1.0
psycopg2==2.8.6
pycodestyle==2.7.0
pyflakes==2.3.1
python-memcached==1.59
pytz==2020.1
requests==2.24.0
sentry-sdk==1.5.2
six==1.15.0
sqlparse==0.4.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.25.11
zipp==3.5.0
