{% extends 'app/base.html' %}
{% load i18n %}
{% block page_title %}{% translate 'Privacy Policy' %}{% endblock %}

{% block content %}
    <section class="policy_cookie">
        <div class="wrapper">
            <div class="text-window">
                <h3>Privacy Policy</h3>
<p><a href="https://ascii-generator.site">ascii-generator.site</a> website administration is obliged to maintain your privacy on the Internet. We pay great attention to securing the data you provided to us. Our privacy policy is based on the General Data Protection Regulation (GDPR) of the European Union. The purposes, for which we collect your personal data are the improvement of our service, communication with visitors to this site, providing services associated with the website’s specialization, and other actions listed below.</p>

<h4> - Personal data storage and processing</h4>

<p>We collect and process your personal data only with your willing consent. With your permission, we can collect and process the following data: e-mail address, photos/images. Collection and processing of your personal information are carried out in accordance with the laws of the European Union and Russia. We are never asking the user to upload personal photos through the image input field, so we are not responsible for such cases when the user uploads his personal photos to the website. We are not claiming copyright rights to any uploaded images by users. If you found your copyrighted image used on the website, contact us to remove it.</p>

<h4> - Data storage, alteration, and removal</h4>

<p>The user, who has provided <a href="https://ascii-generator.site">ascii-generator.site</a> with their personal data, has the right for their alteration and removal, as well as the right to recall the agreement to data processing. Time, during which your personal data will be stored in the time that is necessary for the website’s main activity. To access your personal data, you can contact the administration on <a href="mailto:ascii-generator.site@gmail.com">ascii-generator.site@gmail.com</a>. We will be able to pass your data to a third party only with your willing consent. If the data was transferred to a third party, which is not associated with our organization, we cannot perform any changes to that data.</p>

<h4> - Children’s personal information</h4>

<p>If you are a parent or a legal guardian of an underage child, and you know that the child has provided us with their personal information without your consent, please contact us on <a href="mailto:ascii-generator.site@gmail.com">ascii-generator.site@gmail.com</a>. It is forbidden to enter personal data of underage Users without the agreement of parents or lawful guardians.</p>

<h4> - Cookies processing</h4>

<p>We use cookie files for the correct display of the website’s content and for the convenience of browsing ascii-generator.site. They are small files, that are stored on your device. They help the website to remember information about you, such as in which language you use the website and which pages have you already opened. This information will be useful in the next visit. Thanks to cookie files, the website’s browsing become much more convenient. You can learn more about these files here. You can set up cookies reception and blocking in your browser yourself. The inability to receive cookie files may limit the functionality of the website.</p>

<h4> - Processing of personal data by other services</h4>

<p>This website uses third-party online services, which perform data collecting, independent of us. Such services include Google Analytics.</p>

<p>Data collected by these services may be provided to other services within those organizations. They can use the data for advertising personalization of their own advertising network. You can learn about user agreements of those organizations on their websites. You can also refuse their collection of your personal data. For example, Google Analytics Opt-out Browser Add-on can be found here. We do not pass any personal data to other organizations or services, which are not listed in this privacy policy. As an exception, the collected data may be provided on a lawful request of state authorities, that are authorized to request such information.</p>

<h4> - Links to other websites</h4>

<p>Our website <a href="https://ascii-generator.site">ascii-generator.site</a> may contain links to other websites, which are not under our control. We are not responsible for the content of these websites. We recommend you familiarize yourself with the privacy policy of every website that you visit if such a policy exists.</p>

<h4> - Changes to the privacy policy</h4>

<p>From time to time, our website <a href="https://ascii-generator.site">ascii-generator.site</a> may update our privacy policy. We inform you about any changes to the privacy policy, placed on this webpage. We are monitoring any changes in legislation, which is related to personal data in the European Union and Russia. If you have entered any of your personal data on our website, we will inform you about the changes in our privacy policy. If your personal data, and more specifically, your contact information was entered incorrectly, we will not be able to contact you.</p>

<h4> - Feedback and final clauses</h4>

<p>You can contact the administration of <a href="https://ascii-generator.site">ascii-generator.site</a> regarding any questions related to the privacy policy on <a href="mailto:ascii-generator.site@gmail.com">ascii-generator.site@gmail.com</a>, or by filling a
    <a href="{% url 'feedback_url' %}">Feedback</a> form specified in a corresponding section of this website. If you do not agree with this privacy policy or
    <a href="{% url 'policy_cookie_url' %}">our cookies policy</a>, you cannot use the services of ascii-generator.site. In this case, you should avoid visiting our website.</p>
            </div>
        </div>
    </section>
{% endblock %}